<h1>Holi Alix, te amo att: Nestor</h1>



<% if current_user %>
    <%= link_to 'Ingresar a Nestor', controller: 'articulos' %>
<% else %>
    <h2>Inicia para poder darte besitos <3 <3 <3 </h2>
<% end %>
