// Place all the styles related to the articulos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a{
    background-color: #ccffcc;
    color: #6669ff;
    line-height: 1.8;


}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.logo{
    background-color: #9999ff;
    color: black;
    padding: 30px;
    text-align: center;
    background-position: 100%;
   border-radius: 100%;
   
}